:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #c0181c;
}

@font-face {
  font-family: BookFLF;
  src: url(./fonts/SansSerifBookFLF.ttf.woff);
}

@font-face {
  font-family: One Signature;
  src: url(./fonts/OneSignature.otf);
}

body{
  /* font-family: toBeFound; !important*/
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  /* font-family: tobefound; */
  letter-spacing: 0.3rem;
}

.btn-black{
  background: transparent;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius:0 !important;
  border: 0.1rem var(--mainDark) solid !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor:pointer;
  font-size:1.2rem;
  color: var(--mainYellow);
}